*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: nome;
    font-family: 'Rubik', sans-serif;   /*Fonte importada do Google Fonts*/
}
.content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
section .catalog{
    width: 100vw;
    padding: 100px;
}
section .filter-card{
    width: 980px;
    height: 150px;
    background:rgb(236, 237, 242);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title-wrapper-catalog{
    margin-top: 140px;  
    padding-bottom: 20px; 
}
section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

  section .card-item {
    height: 550px;
    background: gainsboro;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-item img {
    width: 85%;
}
.card-item h4 {
    width: 90%;
}
.card-item p {
    width: 90%;
    font-style: italic;
    color: black;
}
.card-item button {
    width: 90%;
    padding: 15px 24px;
    border: none;
    background: rgb(44, 66, 123);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}


.card-item button:hover {
    background: rgb(199, 190, 190);
    color: rgb(44, 66, 123);
}
footer{
    text-align: center;
    color: rgb(44, 66, 123);
    margin-top: 2%;
    text-align: center;
    font-size: 24px;
}
